:root{
  /* --background-color: #343434;
  --block-color: #00c896;
  --text-color: #f2ecff;
  --secondary-color: #626262; */
  --background-color: #383838;
  --block-color: #8685ef;
  --text-color: #faf7ff;
  --secondary-color: #4f4d5d;

  --primary-color: #4caf50;
  --primary-color-dark: #388e3c;
  --error-color: #e63946;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body{
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  flex-direction: column;
}

.container{
  display: flex;
  flex-direction: column;
  margin: 0 250px;
}
.row{
  display: flex;
  margin: 10px 0 ;
}
.row > * {
  flex: 1;
}
.flex-1{
  flex: 1;
}

/* --------- header---------- */
header{
  height: 80px;
  background-color: var(--secondary-color);
  box-shadow: 0 -4px 10px lightgray;
  margin-bottom: 20px;
}
.header-content{
  display: flex;
}
header img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 10px 30px;
}
header nav ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 50px;
}
header nav ul li:not(:last-child){
  margin-right: 20px;
}
header nav ul li a:hover{
  color: var(--block-color);
}
header nav ul li a{
  color: var(--text-color);
  text-decoration: none;
  font-size: 18px;
}

/* --------- header---------- */

/* ---------  main ---------- */

main{
  width: 100%;
}
main .section-block {
  padding: 20px;
  border-radius: 15px;
  background-color: var(--block-color);
  box-shadow: 0 4px 8px -6px lightgray;
}
.first-image{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 70%;
  background-image: url(./media/images/first-bg-img.jpg);
}
.main-text{
  max-width: 800px;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--block-color);
  font-size: 30px;
}

/* ---------------- для таймера ------------ */

.timer {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.timer-box h3{
  text-align: center;
  text-decoration: underline;
  margin-bottom: 10px;
}
.circle {
  width: 100px;
  height: 100px;
  border: 5px solid #007bff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.circle span {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
}

.circle p {
  font-size: 14px;
  margin: 0;
  color: #555;
}
/* ---------------- для таймера ------------ */

/* для форми */
form {
  margin: auto;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 5px;
}
.form-error{
  color: var(--error-color);
  font-size: 14px;
}
.form-section {
  margin-bottom: 16px;
}
label {
  color: var(--text-color);
  margin-top: 8px;
  display: block;
}
input {
  width: 100%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.4s, box-shadow 0.4s;
}
input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.4);
  outline: none;
}
input::placeholder {
  color: #aaa;
}
input:hover {
  border-color: var(--primary-color);
}
.form-submit-box {
  text-align: center;
}
button[type="submit"] {
  margin-top: 10px;
  padding: 12px 20px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s;
}
button[type="submit"]:hover {
  background-color: var(--primary-color-dark);
}
button[type="submit"]:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.4);
}
/* для форми */

/* ---------  main ---------- */

/* --------- footer --------- */

footer{
  min-height: 80px;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 10px lightgray;
  font-size: 18px;

  align-items: center;
}
footer a{
  color: var(--text-color);
  text-decoration: none;
}
.footer-content{
  height: 80px;
  display: flex;
  align-items: center;
}

/* --------- footer --------- */

/* адаптивність */

@media (max-width: 1200px) {
  a {
    -webkit-tap-highlight-color: rgba(174, 174, 174, 0.5) ;
  }
  .container {
    margin: 0 110px;
  }
  .timer{
    gap: 10px;
  }
  .circle{
    width: 80px;
    height: 80px;
  }
  .first-image{
    background-position: 30% 70%;
  }
}

@media (max-width: 576px) {
 .container {
    margin: 0 20px;
  }
  form {
    padding: 16px;
  }
  input {
    font-size: 14px;
    padding: 10px;
  }
  button[type="submit"] {
    padding: 10px 16px;
    font-size: 14px;
  }
  .timer{
    gap: 2px;
  }
  .circle{
    width: 70px;
    height: 70px;
    border: 2px solid #007bff;
  }
  .circle span{
    font-size: 20px;
  }
  .first-image{
    background-position: 40% 100%;
  }
}
/* адаптивність */